importFrom("Matrix",
           diag)                        # need the S4 generic in se.fixef
importFrom("stats",
           dfbetas,
           cooks.distance)
importFrom("lme4",
			summary)
export(cooks.distance.estex, 
       dfbetas.estex,
       pchange,
       sigtest,
       influence,
       exclude.influence,
	   grouping.levels,
	   se.fixef)
S3method(dfbetas, estex)
S3method(cooks.distance, estex)
S3method(plot, estex)
